page-alta-de-nuevo-producto {

    .scroll-content{
        background:url("../../assets/img/qTOJuq0lSn6ErL9zGdOx_4.png") no-repeat center;
        background-size:cover;
    }

    .card{
        border-radius: 8px;
        
    }

    .sele{
        margin-top: 20px;
        border-bottom: 1px solid rgb(37, 37, 37);
        
    }

    img{
        margin-top: 25px;
        max-height: 350px;
    }

    .boton{
        margin: 0 auto 20px auto;
        width: 90%;
    }

    

}
