page-calificaciones {

    .etiqueta{
        height: 15px;
        width: 20%;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .verde{
        background-color: #45e645;
    }

    .rojo{
        background-color: #f94e30;
    }

    .icono{
        color: #ffff29;
        font-size: 3.5rem;
        text-shadow: 0px 0px 2px #dcdbdb;
    }

}
