page-pedidos {

    .parrafo{
        margin-top: 10px;
    }

    .eliminar{
        background: transparent;
        color: red;
        font-size: 16px!important;
        margin: 9px 9px 9px 0px!important;
        box-shadow: none!important;
    }

    .etiqueta{
        background-color: #ff3a3a;
        height: 20px;
        width: 20%;
        border-radius: 4px;
        margin-bottom: 10px;
    }

    .verde{
        background-color: #45e645;
    }

    .amarillo{
        background-color: #f9f930;
    }


}
