page-pedidos {

    .parrafo{
        margin-top: 10px;
    }

    .eliminar{
        background: transparent;
        color: red;
        font-size: 16px!important;
        margin: 9px 9px 9px 0px!important;
        box-shadow: none!important;
    }

}
